/*************************************************
GENERAL MENU
*************************************************/
.navbar-fixed-top, 
.navbar-fixed-bottom{
    position: relative;
    z-index: auto;
}
.navbar-fixed-top, 
.navbar-fixed-bottom, 
.navbar-static-top {
    margin: 0;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    /*border-bottom: 1px solid [[setting:backgroundcolor]];*/
    border: none;
}
.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner {
    padding: 0;
}
.navbar-inner {
    min-height: 1em;
}
.navbar .brand {
    display: none !important;
}
.navbar-text {
    color: #000;
    line-height: 1.1em;
    padding: 12px 0;
}
.navbar .nav > li > a {
    margin-bottom: -2px;
}
.loginfailures {
    font-size: 0.9em;
}
.navbar .nav.pull-right {
    margin-right: 10px;
}
.navbar .btn-navbar {
    padding: 6px;
    margin: 5px;
}
.nav-collapse .nav {
    margin: 0;
    padding: 0;
}
.nav-collapse .dropdown-menu li + li a {
    margin: 0;
}
.dropdown-menu {border-radius: 0;}
.user-picture {float: right !important;}
.user-picture > a {padding-right: 0 !important;}
.user-picture img {border: 1px solid #ddd;}

div#totaramenu ul li ul, div#custommenu ul li ul {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
/*************************************************
CUSTOM MENU
*************************************************/
div#custommenu  {
    clear:both;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index:auto;
}
div#custommenu a {
    text-decoration: none;
}
div#custommenu ul  {
    padding:0;
    margin:0;
}
div#custommenu ul li  {
    float:left;
    font-size:1em;
    font-weight:bold;
    margin:0;
    list-style-type:none;
    text-transform: none;
}
.dir-rtl div#custommenu ul li {
    float: right;
    margin: 0 0 0 1px;
}
div#custommenu ul li a {
    display:block;
    padding:12px 15px;
    border-radius: 0;
    background: none;
    border-right: none !important;
    border-top: none !important;
}
div#custommenu > ul > li.first > a {
    border-radius: 0;
}
div#custommenu ul ul {
    display:none;
    width:auto;
    min-width:200px;
    position:absolute;
    z-index:100;
    margin: 0 0 0 1px;
}
div#custommenu ul ul li {
    font-size:0.8em;
    float:none !important;
    margin:0;
}
div#custommenu ul ul li a {
    padding:5px 15px;
    display: block;
}
div#custommenu ul li:hover ul {
    display:block;
}

/* styling of menu states */

/* primary nav - not selected */
div#custommenu ul li a {
    /*color: [[setting:linkcolor]];*/
    color: #333;
    border: 1px solid #ddd;
    border-bottom: 0px;
}
/* primary nav - not selected - hover */
div#custommenu ul li a:hover {
    background: #ddd;
    text-decoration: none;
}
/* primary nav - selected */
div#custommenu ul li.selected a {
    background: [[setting:buttoncolor]];
    color: #fff;
    border-radius: 0;
    border: none;
}
/* primary nav - selected - hover */
div#custommenu ul li.selected a:hover {
    /* no change */
}

div#custommenu ul li ul {
    border-top: 1px solid #DDD;
}
/* fix for IE < 9 */
.ie6 div#custommenu ul li ul,
.ie7 div#custommenu ul li ul,
.ie8 div#custommenu ul li ul {
    border: 1px solid #DDDDDD;
}
/* secondary nav - not selected child of unselected parent */
div#custommenu ul li li a {
    border: none;
    border-bottom: 1px solid #DDD;
    /*color: [[setting:linkcolor]];*/
    color: #333;
    font-size: 1.2em;
    background: #FFF;
}
/* secondary nav - not selected child of unselected parent - hover */
div#custommenu ul li li a:hover {
    color: #333;
    background: #F3F3F3;
}
/* secondary nav - not selected child of selected parent */
div#custommenu ul li.selected li a {
    color: #888;
    background: #FFF;
    border: none;
    border-bottom: 1px solid #DDD;
}
/* secondary nav - not selected child of selected parent - hover */
div#custommenu ul li.selected li a:hover {
    color: #333;
    background: #F9F9F9;
}
/* secondary nav - selected child of selected parent */
div#custommenu ul li.selected li.selected a {
    color: #333;
    background: #FFF;
    cursor: default;
}
/* secondary nav - selected child of selected parent - hover */
div#custommenu ul li.selected li.selected a:hover {
    /* no change */
}

@media screen and (max-width:979px) {
    div#custommenu ul,
    div#custommenu ul li,
    div#custommenu ul li a,
    div#custommenu ul ul,
    div#custommenu ul ul li a {
        border: none;
    }
    div#custommenu ul {
        border-bottom: 1px solid #ddd;
    }
    div#custommenu ul li {
        float: none;
        border-bottom: 1px solid #ddd;
    }
    div#custommenu ul ul {
        display: block;
        position: static;
        margin: 0;
    }
    div#custommenu ul ul li a {
        padding:5px 30px;
    }
    .navbar .nav.pull-right {
        margin-right: 0;
    }
}