/* styles using by feedback2 */
.feedback2_switchrequired img{
}

span.feedback2_info {
	font-weight:bold;
}
div.feedback2_item_box_left, div.feedback2_item_box_right {
}

div.feedback2_depend {
	background:#DDDDDD;
}

div.feedback2_complete_depend {
	background:#EEEEEE;
}

span.feedback2_depend {
	color:#ff0000;
}

div.feedback2_item_number_left, div.feedback2_item_left {
	float:left;
}
div.feedback2_item_number_right, div.feedback2_item_right {
	float:right;
}

div.feedback2_item_commands_left {
	float:right;
	text-align:right;
}

div.feedback2_item_commands_right {
	float:left;
	text-align:left;
}

li.feedback2_item_check_h_left,
li.feedback2_item_check_h_right,
li.feedback2_item_radio_h_left,
li.feedback2_item_radio_h_right {
	list-style-type:none;
	display:inline;
}

div.feedback2_item_select_h_left,
div.feedback2_item_select_h_right {
    display:block;
}

li.feedback2_item_check_v_left,
li.feedback2_item_check_v_right,
li.feedback2_item_radio_v_left,
li.feedback2_item_radio_v_right {
	list-style-type:none;
	display:block;
}

div.feedback2_item_select_v_left,
div.feedback2_item_select_v_right {
    display:block;
}

div.feedback2_items label{
    display: inline;
}

div.feedback2_item_captcha_text_left,
div.feedback2_item_captcha_img_left {
	display:inline;
	margin: 5px;
}
div.feedback2_item_captcha_text_right,
div.feedback2_item_captcha_img_right {
	display:inline;
	margin: 5px;
}

hr.feedback2_pagebreak {
	height:8px;
	color:#aaaaaa;
	background-color:#aaaaaa;
	border:0px;
}

.drag_target_active {
        opacity: .25;
}

.drag_item_active {
        opacity: .5;
}

ul#feedback2_draglist {
        list-style: none;
        padding: 0;
        margin: 0;
}

div#feedback2_dragarea {
    width:95%;
}

div img.feedback2_bar_image {
    height: 10px;
}

.path-mod-feedback2 input,
.path-mod-feedback2 textarea,
.path-mod-feedback2 .uneditable-input {
    width: auto;
}
