#block-region-side-pre {
    padding: 0 15px 0 0;
}
#block-region-side-post {
    padding: 0 0 0 15px;
}
#region-main {
    padding: 0;
}

/*******************
General
*******************/
html {

}
.container-fluid {
    max-width: 1170px; /*optimised for 1366px screen-res*/
}
#page {
    padding-bottom: 70px;
}
a, a:link, a:visited {
    color: #375d99;
}
a:hover, a:active, .breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb {
    color: #aaa;
}
.breadcrumb a {
    font-weight: 500;
}
.breadcrumb-nav .breadcrumb {
    padding: 7px;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
#page-navbar a.dimmed, 
#page-navbar a.dimmed:link, 
#page-navbar a.dimmed:visited, 
#page-navbar a.dimmed_text, 
#page-navbar a.dimmed_text:link, 
#page-navbar a.dimmed_text:visited, 
#page-navbar .dimmed_text, 
#page-navbar .dimmed_text a, 
#page-navbar .dimmed_text a:link, 
#page-navbar .dimmed_text a:visited {
    color: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    color: #4d4d4f;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #fff url([[pix:theme|bg_page]]) top center no-repeat !important;
    font-size: 90%;
    margin-bottom: 0;
}
header {
    background: none !important;
}
div, span, button, input {
    border-radius: 0 !important;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
    font-size: 90%;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #022c54;
    background-image: none;
    filter: none;
    color: #fff;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #375d99;
    background-image: none;
    filter: none;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    background: none;
    filter: none;
}
.navbar .nav > li > a {
    padding: 5px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}
.navbar-fixed-top .navbar-inner .container-fluid {
    background: #f1f2f2;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu > ul > li.first > a {
    /*border-right: 1px solid #747578 !important;*/
}
div#totaramenu ul li a, div#custommenu ul li a {
    border-color: #7692b1;
    color: #022c54;
    padding: 7px 14px;
    font-size: 90%;
}
div#totaramenu ul li a:hover, div#custommenu ul li a:hover {
    background: #375d99;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    background: #375d99;
    color: #fff;
    border-radius: 0;
    border-left: 1px solid #747578 !important;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    background: none !important;
    padding-bottom: 10px;
}
#page-navbar {
    background: #f1f2f2;
}
#page-navbar-wrapper {
    border: none;
    background: none !important;
}
.logininfo {
    color: #434343;
    padding-left: 0;

}
.logininfo a {
    color: #022c54;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.navbar-text {
    line-height: 1em;
    padding: 10px 0;
}
.logo {
    padding: 25px 15px;
}
.bannertext {
    margin-top: -90px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
#page-site-index .breadcrumb-nav {
    /*display: none;*/
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #edf3f8;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #375d99 !important;
    background-image: none;
    border-bottom: 1px solid #ddd;
}
.block .header .title h2 {
    color: #fff !important;
}
.block .header .title h2, .block h3.main {
    font-weight: normal;
    padding: 2px 6px;
    font-size: 100%;
}
.block .content {
    background: none;
}
.block_settings hr {
    display: none;
}
#custom-homepage-regions .block .header .commands {
    position: relative !important; 
    width: auto !important;
} 

/********************************
Tiles
********************************/
.tileoutlinecontent {
    background: rgba(2, 44, 84, 0.9);
    width: 40%;
    padding: 20px 25px !important;
    min-height: 160px;
}
.tileoutlinecontent h3 {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.1em;
}
.tileoutlinearea {
    background-position: top right !important;
    padding: 0;
    border-radius: 0 !important;
}
.tileoutlinecontent h1,
.tileoutlinecontent p,
.tileoutlinecontent ul {
    color: #fff;
}
.tile a {
    color: #fff;
    background-image: url([[pix:theme|tilebg]]) !important; 
    background-position: top center !important;
}
.tiletitle, .tile a:hover .tiletitle {
    background-color: transparent !important;
    text-decoration: none !important;
}
#tileoutlinearea .activityinstance a, .tileoutlinecontent a {
    color: #fff;
    text-decoration: underline;
}
#tileoutlinearea .activityinstance a:hover, .tileoutlinecontent a:hover {
    text-decoration: none;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}

/* Topics view */
.tiletopicnav ul li a {
    color: #fff !important;
    border: 1px solid #375d99;
    background: #375d99 !important;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #022c54 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #022c54 !important;
    border: 1px solid #022c54;
}

.dimmed_text { 
	opacity: 0.3; 
}

/********************************
Message
********************************/
.message .messagearea .messagehistory .left {
    width: 100%;
}
.message .messagearea .messagehistory .right {
    width: 100%;
    display: table;
}

/********************************
Front Page
********************************/
#custom-homepage-regions #region-hero-unit {
    padding: 0;
}

/********************************
Docking
********************************/
body.has_dock {
    margin-left: 0;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dockeditempanel .dockeditempanel_content {
    box-shadow: none;
}

/********************************
Footer
********************************/
#page-footer {
    border: none;
    height: auto;
    position: absolute;
    background: #2c5e8d;
}
#page-footer, #page-footer a, #page-footer p {
    color: #fff;
}
#page-footer #footnotewrapper {
    padding: 10px 0;
    width: 100%;
    background: #2c5e8d;
}
#page-footer .footnote {
    padding: 0 10px;
    float: left;
}
#page-footer .year {
    display: none;
}
#page-footer .helplink {
    float: right;
    padding: 0 10px;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}

/********************************
Custom Login
********************************/
/* Signup */
#page-login-signup .mform .fdescription.required {
    text-align: left;
    margin-left: auto !important;
    padding-bottom: 15px;
}

/********************************
SCORM
********************************/
#page-mod-scorm-player.pagelayout-popup #page #page-content {
    background: #999;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    #page {
        padding: 15px;
    }
    .logo img {
        width: 200px;
    }
    .logo {
        padding: 15px 0 5px 0;
    }
    .bannertext {
        margin-top: 0;
        padding-bottom: 5px;
    }
    .bannertext.text-right img {
        width: 150px;
        height: auto;
    }
    .user-picture {
        padding-right: 0 !important;
    }
    
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    /*Login page*/

}

@media (max-width: 979px) { 
    body.has_dock {
        margin-left: 44px;
    }
    #block-region-side-pre, #block-region-side-post {
        padding: 0;
    }
    #page-footer .footnote {
        text-align: center;
        float: none;
    }
    #page-footer .footer-col-left, 
    #page-footer .footer-col-right {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    #page-footer .footer-col-right {
        padding-top: 10px;
    }
    #page-footer .footer-col-right td {
        padding: 0;
        text-align: center;
    }
    #page-footer .footer-col-right p {
        background:  url([[pix:theme|line_footer]]) no-repeat bottom center;
    }
    #page-footer .helplink {
        float: none;
        text-align: center;
    }
}

.ac-search-helptext {
	border: 1px solid #375d99;
	background: #edf3f8;
	padding: 15px;
}


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]