.competency-wrapper {
	display: inline-block;
}
.competency {
	margin: 5px;
}
.tooltip-wrap {
	position: relative;
}
.tooltip-wrap a {
	text-decoration: none;
	color: #fff;
}
.tooltip-wrap p {
	font-size: 12px;
	line-height: 15px;
	padding: 15px;
	margin: 0;
	text-align: center;
	color: #ffffff;
}
.tooltip-wrap .tooltip-content {
	font-family: 'Open Sans', sans-serif;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #022c54;
	max-width: 210px;
	height: 132px;
	max-height: 132px;
}
.tooltip-wrap:hover .tooltip-content {
	display: block;
}
.mform fieldset.error {
	border-width: 0 !important;
}
table.eoi-list tr.deleted td {
	color: silver;
}
table.eoi-list tr.deleted td a {
	color: #B5CDF2;
}
