<link rel="stylesheet" type="text/css" href="<?php echo $CFG->wwwroot; ?>/enrol/ecommerce/styles.css">
<script type="text/javascript">
<!--
    function toggle_promo(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

<div id="enrolmentpayment">

<h2><?php print_string("paymentrequired", "enrol_ecommerce") ?></h2>
<p><?php print_string("paymentinstructions", "enrol_ecommerce") ?></p>

<hr/>

<p><?php print_string("cost", "enrol_ecommerce") ?>: 
	<strong><?php echo "\$$cost";?></strong>
</p>
<p><a href="javascript:void(0);" onclick="toggle_promo('promo_form_wrapper');"><?php print_string("discountclickhere", "enrol_ecommerce") ?></a>
</p>
<div style="display: none;;width:50%" class="coursebox clearfix expanded" id="promo_form_wrapper">
    <div style="padding:10px">
    <p><?php print_string("discountexplanation", "enrol_ecommerce") ?></p>
<form action="<?php echo $CFG->wwwroot.'/enrol/index.php?id='.$instance->courseid ?>" method="post">
        <input type="text" name="promocode" value="<?php echo $promocode; ?>" />
	<input type="submit" value="<?php print_string("getdiscount", "enrol_ecommerce") ?>" />
</form>
    </div>
</div>
<form action="ecommerce/payment.php" method="post">
        <input type="hidden" name="instanceid" value="<?php echo $instance->id; ?>" />
	<input type="hidden" name="courseid" value="<?php echo $instance->courseid; ?>" />
        <input type="hidden" name="promocode" value="<?php echo $promocode; ?>" />
	<input type="submit" value="<?php print_string("proceedwithpayment", "enrol_ecommerce") ?>" />
</form>

<p id="note"><?php print_string("paymentgatewaynote", "enrol_ecommerce") ?></p>

<hr/>

<h3><?php print_string("refundpolicytitle", "enrol_ecommerce") ?></h3>
<strong>1. <?php print_string("refundonlinecoursestitle", "enrol_ecommerce") ?></strong>
<p><?php print_string("refundonlinecoursesdetails", "enrol_ecommerce") ?></p>
<strong>2. <?php print_string("refundfacetofacetitle", "enrol_ecommerce") ?></strong>
<p><?php print_string("refundfacetofacedetails", "enrol_ecommerce") ?></p>
</div><!-- #enrolmentpayment -->
