* {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

h1 {
	font-size: 14pt;	
}

table.invoice-details td {
	font-size: 8pt;
}

h2 {
	font-size: 12pt;
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;	
}

strong.right {
	text-align: right;
}

span.contact {
	font-size: 9pt;
}

span.messages {
	font-size: 9pt;
}